<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youloft.senior">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".base.App"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b581241b27b0a497c00003a" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="621594bd4985f96707e1213e41e3b27a" /> <!-- 黄历详情 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wnl_master" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.gif.ChoiceImageActivity" />
        <activity android:name=".ui.gif.GifActivity" />
        <activity android:name=".ui.detail.VideoDetailActivity" />

    </application>


</manifest>